.dropdown-menu {
  font-family: $new-lazone-font;
  width: 89%;

  &__link {
    font-size: 16px;
    color: palette("white");
    text-transform: uppercase;
    line-height: 4;
    transition: all 0.2s linear;
  }

  &__blanket {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: palette('black');
    opacity: 0;
    z-index: -1;
    transition: opacity .3s ease;

    &.is-active {
      opacity: .8;
      z-index: 400;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;

    width: 90%;
    position: relative;

    &--logged-in {
      width: 100%;
    }
  }
  &__user-container {
    width: auto;
    max-width: 150px;
    margin-left: 1rem;
    text-transform: uppercase;
    color: palette('black');

    @include media-over(lg) {
      color: palette('white');
    }
  }
  &__avatar {
    position: relative;
    width: 32px;
    height: 32px;
    border: 2px solid #fafafa;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__username {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__separator {
    display: block;
    border-top: 1px solid #353535;
    padding: 0;
    margin: 20px 0;
    height: 1px;
  }
  &__item {
    display: block;
    position: relative;
    margin: .75rem 1.2rem;
    height: 6.5rem;

    transition-duration: 0.5s;

    &--search {
      padding-top: 0.6rem;
    }

    &--login {
      // position: absolute;
      right: 0;
      top: 1.5rem;

      @include media-over(md) {
        // margin-left: 14.4rem;
        position: absolute;
        right: -12rem;
      }
    }

    &:hover {
      cursor: pointer;

      .dropdown-menu__link {
        color: palette("crimson");
        text-decoration: none;
      }
    }

    &--has-submenu {
      position: relative;
      padding-right: 2rem;
      @include chevron(10px, 2px, palette("white"), bottom, absolute);

      &::before {
        right: 0;
        top: 50%;
        margin-top: -8px;
        transition: all 0.2s linear;
      }

      &:hover::before {
        margin-top: -2px;
        transform: rotate(-45deg);
        border-color: palette("crimson");
      }

      &:hover > ul,
      ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
      }

    }

    &--user-menu {
      // position: absolute;
      right: -10rem;
      display: flex;
      align-items: center;
    }
  }

  &__dropdown {
    position: absolute;
    list-style: none;
    left: 0;
    right: auto;
    top: 100%;
    display: none;
    visibility: hidden;
    opacity: 0;
    padding: 15px 0;
    width: 20rem;
    z-index: 999;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.3);

    background-color: palette("white");
    border-top: 5px solid palette("crimson");
    transition: all 0.5s ease;

    &--right {
      right: 0;
      left: auto;
      list-style: none;

      &.is-active {
        visibility: visible;
        opacity: 1;
        display: block;
      }
    }

    &-item {
      // margin-bottom: 2rem;
      clear: both;
      width: 100%;
      padding: 10px 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &-link {
      position: relative;
      display: inline-block;
      width: auto;

      color: palette("black");
      cursor: pointer;

      span {
        position: relative;
        z-index: 2;
      }

      &:hover {
        text-decoration: none;
      }

      &.active::after,
      &:hover::after {
        content: "";
        position: absolute;
        bottom: 2px;
        left: -5%;
        height: 8px;
        width: 110%;
        z-index: 1;
      }

      &.active::after,
      &:hover::after {
        background-color: rgba(palette("crimson"), 1);
      }
    }
  }
}
