.site-header {
  display: none;

  @include media-over(xl) {
    display: block;
    width: 100%;
    height: 8rem;
    position: fixed;
    z-index: 999;

    background-color: palette("black");
    color: palette("white");
  }
}

.site-logo {
  z-index: 3;

  &,
  img {
    height: 10rem;
    width: 12.5rem;
    @media(max-width: 767px) {
      height: 60px;
      width: auto;
      margin-top: -11px;
    }
  }
}

.mobile-header{
  position: fixed;
  width: 100%;
  z-index: 500;
  background-color: palette("black");
  transition: top .15s ease;

  &-inner {
    position: relative;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    padding: 0 10px;
    height: 60px;
  
    @include media-over(xl) {
      display: none;
    }
  
    .btn-login {
      padding: .8rem .5rem;
      margin-right: 10px;
    }
  
    .close-user-menu {
      right: 10px;
      top: 5px;
  
      .hamburger-box {
        width: 20px;
      }
  
      .hamburger-inner,
      .hamburger-inner::after,
      .hamburger-inner::before {
        width: 18px;
        height: 2px;
        // border-radius: 5px;
      }
  
      &.hamburger--slider.is-active .hamburger-box { top: 0;}
  
      &.hamburger--slider.is-active .hamburger-inner:after {
        transform: translate3d(0, -6px, 0) rotate(-90deg);
      }
  
      .hamburger-inner {
  
        &::after {
          top: 6px;
        }
  
        &::before {
          top: 12px;
        }
      }
    }
  
    .mobile-menu-trigger {
      position: absolute;
      top: 50%;
      margin-top: -3rem;
      right: 0;
      outline: none;
      padding: 20px;
  
      &__left {
        left: 0;
        right: unset;
      }
  
      .hamburger-inner,
      .hamburger-inner::after,
      .hamburger-inner::before {
        width: 18px;
        height: 2px;
        // border-radius: 5px;
      }
  
      &.hamburger--slider.is-active .hamburger-box { top: 0;}
  
      &.hamburger--slider.is-active .hamburger-inner:after {
        transform: translate3d(0, -6px, 0) rotate(-90deg);
      }
  
      .hamburger-inner {
  
        &::after {
          top: 6px;
        }
  
        &::before {
          top: 12px;
        }
      }
    }
  
    .site-logo {
      margin-left: 5rem;
      margin-top: 2rem;
    }
  }

  #polling-bar-mobile{
    padding: 10px 20px;
    background-color: palette("crimson");
    font-size: 14px;
    color: #fff;
    display: flex;

    .left{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 95%;

      span{
        &:nth-child(1){
          font-weight: bold;
          margin: 0 0 5px 0;
        }
      }
    }

    .right{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5%;
    }
  }
}

.search-form {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  height: 4rem;
  width: 100%;
  z-index: 2;

  background-color: palette("black");

  &.active {
      display: block;
  }
}

.mobile-nav {
  position: fixed;
  top: 60px;
  right: 0;
  height: 100vh;
  max-width: 100% !important;
  width: 100%;
  transition: transform 0.3s linear;
  transform: translateX(100%);
  z-index: 500;
  overflow: scroll;
  padding-bottom: 3rem;

  background-color: palette("black");

  &__left {
    left: 0;
    transform: translateX(-100%);
    top: 110px;
  }

  @include media-over(xl) {
    display: none;
  }

  &.active {
    transform: translateX(0);
  }

  ul {
    padding: 2rem;
    margin: 0;
    list-style: none;
  }

  li {
    position: relative;
    margin-bottom: 2.5rem;
    padding: 0 1.5rem;
  }

  .search {
    position: relative;
  }

  a {
    font-family: $new-lazone-font;
    color: palette("white");
  }

  .has-sub-menu {
    @include chevron(1.2rem, 2px, palette("black"), right, absolute);
    &::before {
      margin-top: -0.6rem;
      top: 50%;
      right: 1.5rem;
      transform: rotate(135deg);
      border-color: palette('white');
    }
  }

  .separator {
    height: 1px;
    width: 100%;
    background-color: palette("white");
  }

  .menu {

    &__auth {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 3.5rem;

      a {
        height: 50px;
        display: flex !important;
        color: palette("white");
      }
    }

    a {
      display: block;
      width: 100%;
    }

    .btn-crimson {
      color: palette("white");
    }
  }

  .drilldown-back {
    @include chevron(1.2rem, 2px, palette("black"), left, absolute);
    &::before {
      margin-top: -0.6rem;
      top: 50%;
      left: 0;
    }
  }

  .sub-menu li {
    padding-left: 2rem;
  }

  a {
    font-size: 1.6rem !important;
    font-weight: 400 !important;
    text-transform: unset !important;

    &:hover {
      text-decoration: none;
    }
  }

  .drilldown {
    overflow: hidden;
  }

  .drilldown-sub {
    display: none;
  }
}
.hamburger-box {
  top: 3px;
}
.hamburger--slider {
  position: absolute;
  right: 16px;
  top: 0;
  z-index: 10;
}

.hidden {
  display: none !important;
}
.user-info {
  display: flex;
  // margin-right: 50px;
  margin-left: auto;
  padding: 0 10px;
  &--nomargin {
    margin-right: 0;
    padding: 0;
  }
  &__hello {
    align-self: center;
    color: #fff;
    margin-right: 10px;
  }
  &__avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #eaeaea;
  }
  &__name,
  &__point {
    display: block;
    font-family: $new-lazone-font;
    color: palette('white');
  }
  &__name {
    font-size: 18px;
  }
  &__point {
    font-size: 14px;
  }
  &__left {
    width: 40px;
    margin-right: 20px;
    img {
      width: 40px;
      height: 40px;
    }
  }
}

.mobile-scrollable-menu {
  list-style: none;
  display: flex;
  position: absolute;
  left: 0;
  top: 44px;
  width: 100%;
  background-color: palette('black');
  overflow-x: scroll;
  z-index: 500;
  border-bottom: 1px solid #353535;

  position: absolute;
  top: 60px;
  padding: 0;
  margin: 0;


  @include media-over(md) {
    display: none;
  }

  li {
    padding: 10px;
    white-space: nowrap;

    height: 50px;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;


    &:first-child { padding-left: 20px;}
    &:last-child { padding-right: 20px;}

    a {
      color: palette('white');
    }
  }
}

.search-btn-trigger {
  display: flex;
  position: absolute;
  right: 11rem;

  &__logged-in {
    right: 8rem;
  }
}
.search-wrapper {
  width: 100%;
  position: absolute;
  top: -130%;
  left: 0;
  padding: 20px;
  background-color: palette('black');
  z-index: 999;
  transition: top .15s ease;

  &.is-active {
    top: 0;
  }

  .search-input {
    background-color: palette('black');
    border: none !important;
    margin-left: 30px;
    color: palette('white');
  }
  
  .search-btn-icon {
    top: 50%;
    transform: translateY(-50%);
  }

  .close-button,
  .close-button::before {
    width: 18px;
    height: 2px;
    background-color: #fff;
    border-radius: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .15s ease;
  }

  .close-button::before {
    content: '';
    top: 6px;
  }

  &.is-active .close-button {
    transform: rotate(45deg);
  }

  &.is-active .close-button::before {
    transform: translate3d(0, -6px, 0) rotate(90deg);
  }
}

.accordion {
  color: palette('white');
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  position: relative;

  &-text {
    position: relative;
  }
  
  span.chevron {
    @include chevron(1rem, 2px, palette("black"), right, absolute);
    &::before {
      margin-top: -0.6rem;
      top: 75%;
      right: -3.5rem;
      transform: translateY(-50%) rotate(135deg);
      border-color: palette('white');
      transition: all .15s ease;
    }
  }

  &.active span.chevron::before {
    transform: rotate(-45deg);
    border-color: palette('crimson');
  }
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding: 0 !important;

  li {
    margin-bottom: 16px;
    padding: 0 !important;

    &:last-child { margin-bottom: 0 !important;}
  }
}

#polling-bar{
  background-color: palette("crimson");

  .container-header{
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    span{
      &:nth-child(1){
        font-weight: bold;
      }

      &:nth-child(2){
        margin: 0 25px;
      }
    }

    .btn{
      font-size: 14px;
    }
  }
}