.site-content {
  padding: 8rem 0rem;

  @include media-over(lg) {
    padding-top: 14rem;
  }

  &.no-padding {
    padding-top: 0;
  }
}

.home-grid {
  @include row();
  flex-wrap: wrap;
  align-items: stretch;

  &__must-reads {
    display: flex;
    flex-flow: row wrap;
    align-content: baseline;
    @include col(12);

    @include media-over(xl) {
      @include col(9);
    }

    &-highlights {
      order: 0;
      width: 100%;

      /* @include media-over(lg) {
        margin-left: 2rem;
        width: 66rem;
      } */

      @include media-over(lg) {
        // width: 58rem;
        order: 1;
        flex: 0 0 70%;
      }
    }

    &-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 100%;
      order: 1;

      @include media-over(lg) {
        // width: 28rem;
        order: 0;
        flex: 0 0 30%;
      }
    }
  }

  &__recommended {
    flex: 1 0 103%;
    max-width: 103%;
    width: 100%;

    background: palette('athens');
    border-top: 5px solid palette('crimson');
    padding: 1.3rem 1rem 1rem;
    margin-left: -.5rem;

    @include media-over(lg) {
      margin-left: -1.5rem;
    }

    @include media-over(xl) {
      @include col(3);
      
      padding: 2.3rem 2rem 2rem;
      margin-left: unset;
    }

    @include media-under(md) {
      margin-top: 3rem;
    }

    .post-card--wide:last-child {
      border-bottom: none !important;
      padding: 0 .5rem .5rem;
    }
  }
}

.home-below-fold {
  @include row();
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include media-over(lg) {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  @include media-over(xl) {
    align-items: flex-start;
  }

  &__slider {
    @include col(12);

    @include media-over(lg) {
      @include col(9);
    }

    /* @include media-over(xl) {
      @include col(9);
    } */
  }

  &__preference {
    @include col(12);

    @include media-over(lg) {
      @include col(3);
    }

    /* @include media-over(xl) {
      @include col(3);
    } */
  }
}

.home-trending {
  padding-top: 2rem;
  padding-bottom: 2rem;

  background-image: url("../images/trending-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include media-over(lg) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.list-with-sidebar {
  @include row(true);
  flex-wrap: wrap;

  &__main {
    order: 1;
    @include col(12);

    @include media-over(lg) {
      @include col(7);
      order: 0;
      padding: 0;
    }

    @include media-over(xl) {
      @include col(8);
    }
  }

  &__aside {
    order: 0;
    @include col(12);

    @include media-over(lg) {
      order: 1;
      margin-left: span(1);
      @include col(4);
      padding: 0;
    }

    @include media-over(xl) {
      @include col(3);
    }
  }
}

.horizontal-list {
  margin-top: 4rem;

  &--margin-top-0 {
    margin-top: 0;
  }
}

.faux-bg {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -8rem;
    left: 0;
    height: 355px;
    width: 100%;
    background-color: #ebebeb;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
  }
}

.category-header,
.category-sticky,
.category-latest,
.shoutbox-sidebar {
  margin-bottom: 3rem;

  @include media-over(lg) {
    margin-bottom: 6rem;
  }
}

.latest-video {
  &__sticky {
    flex: 1 1 100%;

    @include media-over(lg) {
      flex: 0 0 72.2rem;
      max-width: 72.2rem;
      margin: 0 auto;
    }
  }

  &__list {
    flex: 1 1 100%;

    @include media-over(lg) {
      flex: 0 0 43.9rem;
      max-width: 43.9rem;
      margin-left: 2rem;
    }
  }
}

.related-post {
  padding: 6rem 0;
  margin: 6rem 0;
  background-color: palette("athens");
}

.photo-slider {
  margin-top: 3rem;

  img {
    height: auto;
    max-width: 100%;
    width: 100%;
  }
}

.photo-nav {
  margin-top: 1rem;

  &__slide {
    cursor: pointer;
    padding-right: 1rem;
  }
}

.point-heading {
  position: relative;
  z-index: 2;
  margin: 6rem 0;
}

.point-tab {
  margin-top: 6rem;
}

.faq-section {
  padding: 3rem 0;
  background-color: #ebebeb;

  @include media-over(lg) {
    padding: 6rem 0;
  }
}

.faq-list {
  margin-top: 3rem;
}

.tnc-section {
  padding: 6rem 0;
  line-height: (22/16);

  ol,
  ul {
    padding-left: 1em;
  }
}

.order {

  &-1 {
    order: 1;
  }
  &-2 {
    order: 2;
  }

  @include media-over(md) {

    &-md-1 {
      order: 1;
    }
    &-md-2 {
      order: 2;
    }
  }
}