.post-header {
  &__title {
    margin-top: 2rem;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    font-family: $new-lazone-font;
    color: palette('black');

    @include media-over(md) {
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__meta {
    margin: 2rem 0;

    .post-meta__stat {
      font-size: 1.6rem;
      line-height: 16px;
    }
  }
}

.post-content {
  margin-top: 3rem;
  font-size: 18px;
  line-height: 30px;
  color: palette('black');

  @include media-over(md) {
    font-size: 20px;
    line-height: 32px;
  }

  p,
  img,
  blockquote,
  ul,
  ol,
  .video-wrapper {
    margin-bottom: 2rem;
    line-height: 32px;

    @include media-over(md) {
      margin-bottom: 3rem;
    }
  }

  ol,
  ul {
    padding-left: 1em;
  }

  ul {
      list-style: none;

      li {
          display: inline-block;
          position: relative;
          width: 100%;
          line-height: (28/18);
      }

      li::before {
        content: "";
        position: absolute;
        left: -14px;
        top: 8px;
        height: 8px;
        width: 8px;
        background-color: palette('crimson');
      }
  }

  .align-center {
    text-align: center;
  }

  .align-right {
    text-align: right;
  }

  .align-left {
    text-align: left;
  }

  p img,
  img {
    height: auto;
    width: 112%;
    max-width: 112%;
    margin-left: -6%;

    @include media-over(md) {
      max-width: 100%;
      width: 100%;
      margin-left: unset;
    }
  }

  p img { margin-bottom: 0;}

  blockquote {
    font-weight: bold;
    font-style: italic;
    line-height: (30/18);
    text-align: center;

    footer {
      display: block;
      margin-top: 2rem;
      width: 100%;
    }
  }

  &__recommend {
    background-color: palette('athens');
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    padding: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 3rem 0;

    &--title {
      color: palette('crimson');
    }

    @include media-over(md) {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.post-tag {
    margin-top: 4rem;

    &__lists {
      display: flex;
      flex-flow: wrap;
    }
}
