.section-title {
  $this: &;

  display: flex;
  position: relative;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 1rem;
  margin: 2.5rem 0 3rem;
  width: 100%;

  @include media-over(lg) {
    margin-bottom: 3rem;
    margin-top: 0;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    width: .4rem;
    height: 2rem;
    background-color: palette("crimson");
    transform: skew(-35deg);
    position: absolute;
    flex: 0 0 .4rem;

    @include media-over(lg) {
      height: 2.6rem;
    }
  }

  /* &::before {
    flex: 1 1 1%;

    @include media-over(lg) {
      flex: 0 0 6.4rem;
    }
  } */

  &::after {
    left: 1.65rem;
  }

  &__label {
    padding: .5rem 2.5rem 0;
    color: palette("black");
    font-family: $title-font-family;
    font-weight: 800;
    font-size: 24px !important;

    &--adjust {
      @include font-size(2.2rem);
    }

    &--white {
      color: pallete("white");
    }

    &--category {
      font-size: 24px !important;

      @include media-over(md) {
        font-size: 32px !important;
      }
    }

    &--lg {
      font-size: 2.4rem !important;

      @include media-over(md) {
        font-size: 36px !important;
      }
    }
  }

  &__more {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    color: palette("black");
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
  }

  &--plain {
    padding: 0;
    // justify-content: center;

    // @include media-over(lg) {
      justify-content: flex-start !important;
      width: auto;
    // }

    /* &::after,
    &::before {
      display: none !important;
    } */

    &::after {
      left: .7rem;
    }

    #{$this}__label {
      padding: .5rem 2.5rem 0;
    }
  }

  &--has-more {
    justify-content: space-between !important;
    padding-left: 1.3rem;
  }

  &--page {
    justify-content: center;
  }

  &--top-margin {
    margin-top: 6rem;
  }

  &--interest {
    margin-bottom: 0;
  }

  &--point {
    margin-bottom: 1rem;
  }
}

.subtitle {
  margin-bottom: 3rem;
  font-size: 16px;
  font-weight: 600;
  line-height: (24/14);

  &--point {
    font-size: 16px;
    font-weight: normal;
  }
}
