.shoutbox {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;

  text-align: center;
  background-color: palette("athens");

  @include media-over(lg){
    padding: 2rem 4rem;
  }

  /* @media screen and (min-width: 1600px) {
    min-height: 47rem;
  } */

  &--column {
    flex-flow: column nowrap;
    justify-content: center;
  }

  &--wide {
    // max-width: 80rem;
    max-width: 100%;
    width: 100%;
    height: 320px;

    text-align: center;

    @include media-over(md) {
      height: 530px;
    }
  }

  &--has-bg {
    color: palette("black");

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      /* background-image: linear-gradient(to right, palette('athens') 75%, transparent);

      @include media-under(md) { */
        background-image: linear-gradient(transparent, palette('athens') 75%);
      // }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    object-fit: cover;
    object-position: 50% 50%;

    /* @include media-over(md) {
      width: auto;
      height: 100%;
    } */
  }

  &__content-wrapper {
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(palette('athens') 40%, transparent);
    padding: 3.6rem 3.2rem;

    @include media-over(md) {
      width: 79%;
      top: unset;
      bottom: 3rem;
      left: unset;
      transform: unset;
      background-image: unset;
      padding: 0;
    }
  }

  &__title {
    margin-bottom: 1.4rem;
    font-size: 24px !important;
    font-family: $new-lazone-font;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -1px;
    color: palette("black");

    &--extra-bold {
      font-size: 2rem !important;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: .5px;

      /* @include media-under (md) {
        font-size: 2rem !important;
      } */
    }
  }

  &__text {
    margin-bottom: 1.4rem;
    line-height: 20px;
    color: palette("black");
    font-size: 14px !important;

    &--extra-space {
      margin-bottom: 0;
      line-height: 20px;
      font-weight: 400;

      @include media-under(md) {
        margin-bottom: 1rem;
      }
    }
  }

  &__cta {
    text-align: center;

    @include media-over(md) {
      &--left {
        text-align: left;
        padding-left: 0 !important;
      }
    }

    .btn {
      width: 100%;
      font-family: $new-lazone-font;
    }
  }
}

.new-shoutbox {
  top: 0 !important;

  @include media-over(md) {
    top: 2rem;
  }
}